@model Clinic.BLL.VM.AdminVM
@{
    ViewBag.Title = "Profile Settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<style>
    input.error {
        border: 1px solid red;
    }

    label.error {
        color: red;
    }
</style>


<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid content-wrap">
        <form id="AdminForm" method="post" role="form" enctype="multipart/form-data">


            <input type="hidden" value="@Model.EmployeeId" id="EmployeeId" name="EmployeeId" />
            <input type="hidden" value="@Model.Admin_UserId" id="Admin_UserId" name="Admin_UserId" />

            <!-- Profile Information -->
            <div class="row">
                <div class="col-md-8">
                    <div class="setting-info profile-info">
                        <h4>Personal Information</h4>
                        <label class="avatar profile-cover-avatar" for="Image" id="Image-Container">
                            <img class="avatar-img" src="@Model.EmployeeProfileImage" alt="Profile Image">
                            @*<input type="file" id="avatar_upload">*@
                            <input type="file" id="Image" name="Image" class="upload" accept="image/*">
                            <span class="avatar-edit">
                                <i class="feather-edit"></i>
                            </span>
                        </label>


                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Username <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly value="@Model.Username" id="Username" name="Username">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly value="@Model.EmployeeEmail" id="EmployeeEmail" name="EmployeeEmail">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly value="@Model.EmployeePhone" id="EmployeePhone" name="EmployeePhone">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>National ID <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly value="@Model.NationalID" id="NationalID" name="NationalID">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Full Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" value="@Model.EmployeeName" id="EmployeeName" name="EmployeeName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender <span class="text-danger">*</span></label>
                                    <select class="select form-control" id="EmployeeGender" name="EmployeeGender">
                                        <option value="1" @(Model.EmployeeGender == 1 ? "selected" : string.Empty)>Male</option>
                                        <option value="2" @(Model.EmployeeGender == 2 ? "selected" : string.Empty)>Female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Date of Birth <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control datepicker" readonly value="@(Model.EmployeeDateOfBirth.ToString("dd-MMM-yyyy"))" id="EmployeeDateOfBirth" name="EmployeeDateOfBirth">
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" value="@Model.EmployeeAddress" id="EmployeeAddress" name="EmployeeAddress">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-auto">
                <div class="col-md-12">
                    <div class="submit-sec">
                        <button type="button" onclick="SaveData(this)" class="btn btn-primary" >Save Changes</button>
                        <button class="btn btn-secondary" onclick="window.location.reload()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /Profile Information -->
        </form>

    </div>
</div>
<!-- /Page Wrapper -->


@section Scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {

            DateTimePicker();

            $('#Image').on('change', function () {

                var imageContainer = $('#Image-Container');
                var image = window.URL.createObjectURL(this.files[0]);
                imageContainer.find('img').attr('src', image);
            });

            //===================
        });

        function DateTimePicker() {
            $(".datepicker").datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                sideBySide: true,
                controlType: 'select',
                maxDate: '-15y',

            });
        }


        $("#AdminForm").validate({
            ignore: null,
            rules: {
                EmployeeName: {
                    required: true
                },
                EmployeeGender: {
                    required: true
                },
                EmployeeDateOfBirth: {
                    required: true
                },
                EmployeeAddress: {
                    required: true
                }
            },
            messages: {
                EmployeeName:
                {
                    required: "Required"
                },
                EmployeeGender:
                {
                    required: "Required"
                },
                EmployeeDateOfBirth:
                {
                    required: "Required"
                },
                EmployeeAddress: {
                    required: "Required"

                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            }
        });

        function SaveData(ele) {
            debugger;

            $(ele).attr("disabled", true);

            if (!$("#AdminForm").valid()) {
                $(ele).attr("disabled", false);
                return false;
            }


            var formData = new FormData;

            formData.append("EmployeeId", $("#EmployeeId").val());
            formData.append("Admin_UserId", $("#Admin_UserId").val());
            formData.append("EmployeeName", $("#EmployeeName").val());
            formData.append("EmployeeGender", $("#EmployeeGender").val());
            formData.append("EmployeeDateOfBirth", $("#EmployeeDateOfBirth").val());
            formData.append("EmployeeAddress", $("#EmployeeAddress").val());
            formData.append("Image", $("#Image").get(0).files[0]);


            $.ajax({
                url: "/Admin/SaveData",
                async: true,
                type: "Post",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    debugger;

                    if (data == 'success') {

                        toastr["success"]("Your Info Saved Successfuly !", "Profile Settings");

                        $(ele).removeAttr("disabled");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);

                    }
                    else {
                        toastr["error"](data, "Profile Settings");
                        $(ele).removeAttr("disabled");
                    }
                }
            });


        }

    </script>
}

