
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="~/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Datetimepicker CSS -->
    @*<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">*@

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <!-- Apex Chart -->
    <link rel="stylesheet" href="~/assets/plugins/apex/apexcharts.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/assets/css/aos.css">

    <link href="~/assets/bootstrap-toastr/toastr.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    @RenderSection("css", required: false)

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon bar-icon-one">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/Home/Index" class="navbar-brand logo">
                        <img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/Home/Index" class="menu-logo">
                            <img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active">
                            <a href="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a href="/Home/About">About</a>
                        </li>
                        <li>
                            <a href="/Home/Doctors">Doctors</a>
                        </li>
                        <li>
                            <a href="/Home/Blog">Blog</a>
                        </li>
                        <li> <a href="/Home/Contact">Contact</a> </li>


                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Doctor"))
                            {
                                <li> <a href="/Doctor/Dashboard">Profile</a> </li>
                            }
                            if (User.IsInRole("Patient"))
                            {
                                <li> <a href="/Patient/Dashboard">Profile</a> </li>
                            }
                            if (User.IsInRole("Employee"))
                            {
                                <li> <a href="/Admin/Dashboard">Profile</a> </li>
                            }
                        }

                        @if (!Request.IsAuthenticated)
                        {
                            <li class="login-link">
                                <a href="/Account/Login">Login / Signup</a>
                            </li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                        {
                            <li>  <a href="/admin/Dashboard">Admin</a> </li>
                        }


                    </ul>
                </div>

                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Contact</p>
                            <p class="contact-info-header"> +1 315 369 5943</p>
                        </div>
                    </li>
                    @if (Request.IsAuthenticated && (User.IsInRole("Patient") || User.IsInRole("Doctor") || User.IsInRole("Employee")))
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                <a class="nav-link header-login btn-one-light" href="javascript:document.getElementById('logoutForm').submit()" title="Logout" data-action="userLogout" data-logout-msg="Logout">    <i class="fa fa-power-off"></i>   Logout</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link header-login btn-one-light" href="/Account/Login">login / Signup </a>
                        </li>
                    }
                </ul>

            </nav>
        </header>
        <!-- /Header -->



        @RenderBody()
        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top aos" data-aos="fade-up">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="/Home/Doctors">Search for Doctors</a></li>
                                    <li><a href="/Account/Login">Login</a></li>
                                    <li><a href="/Account/Register">Register</a></li>
                                    <li><a href="/Home/Blog">Blog</a></li>
                                    <li><a href="/Home/About">About</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="#">Chat</a></li>
                                    <li><a href="/Account/Login">Login</a></li>
                                    <li><a href="/Account/Register">Register</a></li>
                                    <li><a href="#">Doctor Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        doccure@example.com
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-fluid">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <!-- Copyright Menu -->
                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="term-condition.html">Terms and Conditions</a></li>
                                        <li><a href="privacy-policy.html">Policy</a></li>
                                    </ul>
                                </div>
                                <!-- /Copyright Menu -->

                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->


    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>



    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Circle Progress JS -->
    <script src="~/assets/js/circle-progress.min.js"></script>


    <!-- Feather Icon JS -->
    <script src="~/assets/js/feather.min.js"></script>

    <!-- Fancybox JS -->
    <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- Select2 JS -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Daterangepikcer JS -->
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Owl Carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <!-- Apex Chart -->
    <script src="~/assets/plugins/apex/apexcharts.min.js"></script>

    <!-- Custom Apex Chart -->
    <script src="~/assets/plugins/apex/chart-data.js"></script>

    <!-- Slick JS -->
    <script src="~/assets/js/slick.js"></script>

    <!-- Animation JS -->
    <script src="~/assets/js/aos.js"></script>

    <!-- toastr JS -->
    <script src="~/assets/bootstrap-toastr/toastr.min.js"></script>
    <script src="~/assets/bootstrap-toastr/ui-toastr.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>