@model List<Clinic.BLL.VM.BookingVM>
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<div class="appointments">


    @foreach (var item in Model)
    {
        DateTime dayDate = item.BookingDate;
        string TimeFrom = (dayDate + item.DrTimingSlotFrom).ToString("hh:mm");

        string AmOrPmFrom = item.DrTimingSlotFrom.Hours > 12 ? "PM" : "AM";



        <!-- Appointment List -->
        <div class="appointment-list">
            <div class="profile-info-widget">
                @*<a href="patient-profile.html" class="booking-doc-img">*@
                <a href="#" class="booking-doc-img">
                    <img src="@item.PatientProfileImage" alt="User Image">
                </a>
                <div class="profile-det-info">
                    @*<h3><a href="patient-profile.html">Richard Wilson</a></h3>*@
                    <h3><a href="#">@item.PatientName</a></h3>
                    <div class="patient-details">
                        @*<h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>*@
                        <h5><i class="far fa-clock"></i> @item.BookingDate.ToString("dd MMM yyyy"), @TimeFrom @AmOrPmFrom</h5>
                        <h5><i class="fas fa-map-marker-alt"></i> @item.PatientAddress</h5>
                        <h5><i class="fas fa-envelope"></i> @item.PatientEmail</h5>
                        <h5 class="mb-0"><i class="fas fa-phone"></i> @item.PatientPhone</h5>
                    </div>
                </div>
            </div>
            <div class="appointment-action">
                <a href="#" class="btn btn-sm bg-info-light" data-bs-toggle="modal" data-bs-target="#appt_details">
                    <i class="far fa-eye"></i> View
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                    <i class="fas fa-check"></i> Accept
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
        </div>
        <!-- /Appointment List -->
    }

</div>

