
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var doctor = ViewBag.Doctor as Clinic.BLL.VM.DoctorVM;
}

@section css {

    <link href="~/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a href="/Home/DoctorProfile/@doctor.DoctorId" class="booking-doc-img">
                                @*<img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">*@
                                <img src="@doctor.DoctorProfileImage" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="/Home/DoctorProfile/@doctor.DoctorId">Dr. @doctor.DoctorName</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> @doctor.CountryName, Cairo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-8">
                        @*<h4 class="mb-1">11 November 2019</h4>*@
                        <h4 class="mb-1">@DateTime.Now.ToString("dd MMMM yyyy")</h4>
                        <p class="text-muted">@DateTime.Now.ToString("dddd")</p>
                    </div>
                    <div class="col-12 col-sm-8 col-md-4 ">
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" id="IsOutService">
                                <span class="checkmark"></span> Service From Home
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Select from date</label>
                            <div class="cal-icon">
                                <input class="form-control datepicker" placeholder="Date From" readonly id="StartDate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Select to date</label>
                            <div class="cal-icon">
                                <input class="form-control datepicker" placeholder="Date To" readonly id="EndDate" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary" style=" margin-top: 30px !important;" id="btnSearch">
                            <i class="fas fa-search"></i>
                            @*<span>Search</span>*@
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">

                    </div>
                </div>


                <br />
                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget" id="ScheduleContainer">



                </div>
                <!-- /Schedule Widget -->
                <!-- Submit Section -->
                <div class="submit-section proceed-btn text-end">

                    <button type="button" class="btn btn-primary submit-btn" onclick="SaveBooking(this, 1);">Book</button>

                    <button type="button" class="btn btn-primary submit-btn" onclick="SaveBooking(this, 2);">Confirm by Pay</button>

                    @*<a href="/Appointment/Checkout" class="btn btn-primary submit-btn">Proceed to Pay</a>*@
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->

<input type="hidden" id="DrTimingId" />
<input type="hidden" id="BookingDate" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>

        $(function () {
            GetSchedule();

            DateTimePicker();

        });

        $("#btnSearch").on('click', function () {

            let startDate = $("#StartDate").val();
            if (startDate == "" || startDate == undefined || startDate == null) {
                toastr["warning"]( "Select date from", "Book Appointment");
                return;
            }
            let endDate = $("#EndDate").val();
            if (endDate == "" || endDate == undefined || endDate == null) {
                toastr["warning"]( "Select date to", "Book Appointment");
                return;
            }

            GetSchedule();

        });

        function GetSchedule() {


            let doctorId = '@doctor.DoctorId';
            let startDate = null;
            let endDate = null;

            if ($("#StartDate").val() != "") {
                startDate = $("#StartDate").val();
            }

            if ($("#EndDate").val() != "") {
                endDate = $("#EndDate").val();
            }

            $.ajax({
                url: "/Appointment/GetScheduleTimings",
                type: "GET",
                data: { DoctorId: doctorId, StartDate: startDate, EndDate: endDate },
                success: function (result) {
                    $("#ScheduleContainer").html(result);
                },
                error: function (error) {
                    console.log(error);
                }

            });

        }

        function DateTimePicker() {
            $(".datepicker").datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                sideBySide: true,
                controlType: 'select',
                minDate:new Date(),
            });
        }

        function SelectTime(ele, drTimingId,date) {

            $(".timing").each(function () {

                $(this).removeClass('selected');
            });

            $(ele).addClass("selected");

            $("#DrTimingId").val(drTimingId);
            $("#BookingDate").val(date);
        }

        function SaveBooking(ele, type) {

            debugger;

            $(ele).attr("disabled", "disabled");

            let doctorId = '@doctor.DoctorId';
            let isOutService = $("#IsOutService").prop("checked");
            let scheduleTimingId = $("#DrTimingId").val();
            if (scheduleTimingId == "" || scheduleTimingId == undefined || scheduleTimingId == null) {
                toastr["warning"]("Select time", "Book Appointment");
                $(ele).removeAttr("disabled");
                return;
            }

            let bookingDate = $("#BookingDate").val();

            let booking = {};

            booking.DoctorId = doctorId;
            booking.IsOutService = isOutService;
            booking.ScheduleTimingId = scheduleTimingId;
            booking.BookingDate = bookingDate;

            $.ajax({
                url: "/Appointment/SaveBookingData",
                async: true,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(booking),
                success: function (data) {

                    debugger;

                    if (data.Message == 'success') {

                        toastr["success"]("Your Booking Saved Successfuly", "Book Appointment");
                        $(ele).removeAttr("disabled");

                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);

                        if (type == 2) {
                            let url = "/Appointment/Checkout/" + data.BookingId;
                            setTimeout(function () {
                                window.location.href = url;
                            }, 2000);
                        }
                    }
                    else {
                        toastr["error"](data.Message, "Book Appointment");
                        $(ele).removeAttr("disabled");
                    }
                }
            });

        }

    </script>

}
