@model Clinic.BLL.VM.BookingVM
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    input.error{
        border: 1px solid red;
    }

    label.error{
        color:red;
    }

</style>

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Checkout Form -->
                        <form id="BookingForm">

                            <!-- Personal Information -->
                            <div class="info-widget">
                                <h4 class="card-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Full Name</label>
                                            <input class="form-control" type="text" value="@Model.PatientName" id="PatientName" name="PatientName">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Address</label>
                                            <input class="form-control" type="text" value="@Model.PatientAddress" id="PatientAddress" name="PatientAddress">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Email</label>
                                            <input class="form-control" type="email" value="@Model.PatientEmail" id="PatientEmail" name="PatientEmail">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Phone</label>
                                            <input class="form-control" type="text" value="@Model.PatientPhone" id="PatientPhone" name="PatientPhone">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /Personal Information -->

                            <div class="payment-widget">
                                <h4 class="card-title">Payment Method</h4>

                                <!-- Credit Card Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio credit-card-option">
                                        <input type="radio" name="radio" checked>
                                        <span class="checkmark"></span>
                                        Credit card
                                    </label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_name">Name on Card</label>
                                                <input class="form-control" id="card_name"  name="card_name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_number">Card Number</label>
                                                <input class="form-control" id="card_number" name="card_number" placeholder="1234  5678  9876  5432" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_month">Expiry Month</label>
                                                <input class="form-control" id="expiry_month" name="expiry_month" placeholder="MM" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_year">Expiry Year</label>
                                                <input class="form-control" id="expiry_year" name="expiry_year" placeholder="YY" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="cvv">CVV</label>
                                                <input class="form-control" id="cvv" name="cvv" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Credit Card Payment -->
                                <!-- Paypal Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio paypal-option">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                        Paypal
                                    </label>
                                </div>
                                <!-- /Paypal Payment -->
                                <!-- Submit Section -->
                                <div class="submit-section mt-4">
                                    <button type="button" class="btn btn-primary submit-btn" onclick="SavePayment(this)">Confirm and Pay</button>
                                </div>
                                <!-- /Submit Section -->

                            </div>
                        </form>
                        <!-- /Checkout Form -->

                    </div>
                </div>

            </div>

            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Booking Summary</h4>
                    </div>
                    <div class="card-body">

                        <!-- Booking Doctor Info -->
                        <div class="booking-doc-info">
                            <a href="/Home/DoctorProfile/@Model.DoctorId" class="booking-doc-img">
                                <img src="@Model.DoctorProfileImage" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">Dr. Darren Elder</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                                <div class="clinic-details">
                                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i> @Model.CountryName</p>
                                </div>
                            </div>
                        </div>
                        <!-- Booking Doctor Info -->

                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    @*<li>Date <span>16 Nov 2019</span></li>*@
                                    <li>Date <span>@Model.BookingDate.ToString("dd MMM yyyy")</span></li>
                                    @*<li>Time <span>10:00 AM</span></li>*@
                                    <li>Time <span>@Model.BookingDate.ToString("hh:mm") @(Model.BookingDate.Hour>12 ? "PM" : "AM")</span></li>
                                </ul>
                                <ul class="booking-fee">
                                    <li>Booking Amount <span>EGP @Model.BookingAmount</span></li>
                                    <li>Booking Fee <span>EGP @Model.BookingFees</span></li>
                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>Total</span>
                                            <span class="total-cost">EGP @(Model.BookingAmount + Model.BookingFees)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->

            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->


@section scripts{

    <script src="~/Scripts/jquery.validate.js"></script>

    <script>

       //============== Validate ===================
        $("#BookingForm").validate({
            ignore: null,
            rules: {

                PatientName: {
                    required: true
                },
                PatientAddress: {
                    required: true
                },
                PatientEmail: {
                    required: true
                },
                PatientPhone: {
                    required: true
                },
                card_name: {
                    required: true
                },
                card_number: {
                    required: true
                },
                expiry_month: {
                    required: true
                },
                expiry_year: {
                    required: true
                },
                cvv: {
                    required: true
                }

            },
            messages: {
                PatientName:
                {
                    required: "Required"
                },
                PatientAddress:
                {
                    required: "Required"
                },
                PatientEmail:
                {
                    required: "Required"
                },
                PatientPhone: {
                    required: "Required"
                },
                card_name: {
                    required: "Required"
                },
                card_number: {
                    required: "Required"
                },
                expiry_month: {
                    required: "Required"
                },
                expiry_year: {
                    required: "Required"
                },
                cvv: {
                    required: "Required"
                },
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            }
        });


        function SavePayment(ele) {

            debugger;

            $(ele).attr("disabled", true);

            if (!$("#BookingForm").valid()) {
                $(ele).attr("disabled", false);
                return false;
            }

            $.ajax({
                url: "/Appointment/SavePayment",
                type: 'POST',
                data: { BookingId: '@Model.BookingId' },
                success: function (data) {
                    debugger;

                    if (data.Message == 'success') {

                        $(ele).removeAttr("disabled");

                        let url = "/Appointment/BookingSuccess/" + data.BookingId;
                        setTimeout(function () {
                            window.location.href = url;
                        }, 1000);

                    }
                    else {
                        toastr["error"](data.Message, "Book Appointment");
                        $(ele).removeAttr("disabled");
                    }
                }
            });

        }
    </script>


} 