@model List<Clinic.BLL.VM.PrescriptionVM>
@{
    ViewBag.Title = "Prescriptions";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
        </div>


    </div>
    <div class="card-body ">

        <!-- Dependent Tab -->
        <div class="card card-table mb-0">
            <div class="card-body" id="PrescriptionsContainer">
                <div class="table-responsive" style="min-height:300Px;">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                @*<th> ID</th>*@
                                <th>Created by</th>
                                <th>Date</th>
                                <th>Booking No</th>
                                <th>Booking Date</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>@item.PrescriptionId</td>*@
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="/Home/DoctorProfile/@item.DoctorId" class="avatar avatar-sm me-2">
                                                <img class="avatar-img rounded-circle" src="@item.DoctorProfileImage" alt="User Image">
                                            </a>
                                            <a href="/Home/DoctorProfile/@item.DoctorId">Dr. @item.DoctorName @*<span>@item.SpecialityName</span>*@</a>
                                        </h2>
                                    </td>

                                    <td>@item.PrescriptionDate.ToString("dd MMM yyyy")</td>
                                    <td>@item.BookingNo</td>
                                    <td>@item.BookingDate.ToString("dd MMM yyyy")</td>

                                    <th>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/Patient/ShowPrescription/@item.PrescriptionId"><i class="far fa-eye"></i> View</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            }




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Dependent Tab -->

    </div>
</div>

